@use "../variables" as vars ;

h1 {
    color: vars.$bleuFonce;
}

strong {
    color: vars.$bleuMarine;
}

.card-header {
    background-color: vars.$bleu;
}

.card-body {
    background-color: vars.$Background2;
    
    .list-group-item {
        background-color: vars.$Background2;
    }
}

.card-footer {
    background-color: vars.$bleu;
}
