@import '../variables.scss';

.card .card-header{
    background-color: $bleu;
}

.card-body {
    background-color: $Background2;
}

.card .card-footer {
    background-color: $bleu;
}

h1 {
    color: $bleuFonce;
}

strong {
    color: $bleuMarine;
}

