@use "../variables" as vars ;

.navbar {
    background-color: vars.$Background2;
}

.logo {
    width: 80px;
}

@media (min-width: 431px) and (max-width: 729px) {
    .logo {
    width: 100px;
}
}

@media (min-width: 730px)  {
    .logo {
    width: 150px;

    .navbar {
        display: flex ;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}
}