//couleur 
$Background1: #f1f8fc;
$Background2: #82b864;

$vert: $Background2;
$rouge: #cd2c2e;
$bleuFonce: #384050;
$bleuMarine: #00497c;
$bleu: #0074c7;
$blanc: #f1f8fc;

//Police 

@font-face {
    font-family: Graphik;
    src: url('../fonts/Graphik-Regular-Trial.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
